<div class="layout-sidebar" [ngStyle]="{'overflow':app.sidebarActive ? 'hidden' : 'visible'}"
     [ngClass]="{'layout-sidebar-dark':app.darkMenu}" (click)="app.onSidebarClick($event)">
  <div class="layout-tabmenu">
    <ul class="layout-tabmenu-nav">
      <li [ngClass]="{'active-item':app.activeTabIndex === sideBarTab.MACHINE_RUNTIME}">
        <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, sideBarTab.MACHINE_RUNTIME)"><i
          class="material-icons">widgets</i></a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Machine Runtime</div>
        </div>
      </li>
      <li [ngClass]="{'active-item':app.activeTabIndex === sideBarTab.MACHINE_CONFIG}">
        <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, sideBarTab.MACHINE_CONFIG)"><i
          class="material-icons">build</i></a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Machine Config</div>
        </div>
      </li>
      <li [ngClass]="{'active-item':app.activeTabIndex === sideBarTab.ENTITY_CLASS}">
        <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, sideBarTab.ENTITY_CLASS)"><i
          class="material-icons">settings</i></a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Entity Class</div>
        </div>
      </li>
    </ul>
    <div class="layout-tabmenu-contents">
      <div class="layout-tabmenu-content"
           [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === sideBarTab.MACHINE_RUNTIME}">
        <div class="layout-submenu-title clearfix">
          <span translate>Machine Runtime</span>
          <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
        </div>
        <app-sidebarTabContent>
        </app-sidebarTabContent>
      </div>
      <div class="layout-tabmenu-content"
           [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === sideBarTab.MACHINE_CONFIG}">
        <div class="layout-submenu-title clearfix">
          <span class="menu-item" translate
                (click)="menuService.showMenu(machineService.getMenu(null,serverEntryService.currentServerEntry.domainId),$event)"
          >Machine Config</span>
          <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
        </div>
        <app-sidebarTabContent>
            <div *ngFor="let machine of machineService.data" style="padding: 5px 5px 5px 25px;"
                [ngClass]="{'item-selected':machineService.getDataName()==selectedEntityClass.selectedDataName}">
              <span class="inbox-label menu-item" translate
                    (click)="machineConfig(machine)">{{machine.name}}</span>
            </div>
        </app-sidebarTabContent>
      </div>
      <div class="layout-tabmenu-content"
           [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === sideBarTab.ENTITY_CLASS}">
        <div class="layout-submenu-title clearfix">
          <span translate>Entity Class</span>
          <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
        </div>
        <app-sidebarTabContent>
          <div class="inbox-tab">
            <div class="inbox-labels">
              <ul>
                <li *ngFor="let entityClassService of entityClassServices" class="clearfix"
                    [ngClass]="{'item-selected':entityClassService.getDataName()==selectedEntityClass.selectedDataName}">
                  <span class="inbox-label menu-item" translate
                        (click)="entityClass(entityClassService.getDataName())">{{entityClassService.getShowName()}}</span>
                  <span class="inbox-label-badge">{{entityClassService.data.length}}</span>
                </li>
              </ul>
            </div>
          </div>
        </app-sidebarTabContent>
      </div>
    </div>
  </div>
</div>
