<div class="ui-g">
  <div class="ui-g-4">
    <span class="label">{{entityAndField.field.name}}</span>
  </div>
  <div class="ui-g-4">
  <span
    class="value">{{runtimeDataSyncService.getOrCreateByNodeAndField(entityAndField.entity, entityAndField.field).value}}</span>
  </div>
  <div class="ui-g-4">
          <span
            class="value">{{runtimeDataSyncService.getOrCreateByNodeAndField(entityAndField.entity, entityAndField.field).updateTime|date:'MM.dd-hh:mm:ss'}}</span>
  </div>
</div>
