<div class="p-grid" *ngIf="machine&&machine['deleted']!=true">
  <div class="p-col">
    <div class="card" style="position:relative;" [ngStyle]="{'min-height.px': framework.height-160}">
      <div class="title">
        <app-entity-name [entity]="machine" [menu]="machineService.getMenu(machine,null)"></app-entity-name>
      </div>
      <p-panel>
        <p-header>
          <span translate>Modbus Slaves</span>
        </p-header>
        <div *ngFor="let modbusSlave of modbusSlaveService.getByParentId(machine.id)" class="p-grid">
          <div class="p-col-3">
            <app-entity-name [entity]="modbusSlave"
                             [menu]="modbusSlaveService.getMenu(modbusSlave,null)"></app-entity-name>
            <div>
              <span class="label" translate>Address</span>
              <span class="value"> {{modbusSlave.description.ip}}:{{modbusSlave.description.port}}</span>
            </div>
          </div>
          <div class="p-col-9">
            <p-fieldset>
              <p-header><span translate>Modbus Units</span></p-header>
              <div class="p-grid">
                <div class="p-col-4" *ngFor="let modbusUnit of modbusUnitService.getByParentId(modbusSlave.id)">
                  <app-entity-name [entity]="modbusUnit"
                                   [menu]="modbusUnitService.getMenu(modbusUnit,null)"></app-entity-name>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>
      </p-panel>
      <p-panel>
        <p-header>
          <span translate>Groups</span>
        </p-header>
      </p-panel>
    </div>
  </div>
</div>
