<div style="padding: 10px">
  <div class="card">
    <div style="font-weight: bold;margin-bottom: 10px">
      <span translate>{{_entity.dataName}}</span>
      <span> : {{_entity.name}}</span>
    </div>
    <app-runtime-entity-field
      [entityFieldInfo]="{ entity:_entity, restriction:embeddedField.connection}"></app-runtime-entity-field>
    <app-runtime-entity-field
      [entityFieldInfo]="{ entity:_entity, restriction:embeddedField.secret}"></app-runtime-entity-field>
    <app-runtime-entity-field
      [entityFieldInfo]="{ entity:_entity, restriction:embeddedField.deviceHealthy}"></app-runtime-entity-field>
    <app-runtime-entity-field
      [entityFieldInfo]="{ entity:_entity, restriction:embeddedField.cabinIsEmpty}"></app-runtime-entity-field>
    <app-runtime-entity-field
      [entityFieldInfo]="{ entity:_entity, restriction:embeddedField.cabinStorage}"></app-runtime-entity-field>
    <p-fieldset *ngIf="customFields&&customFields.length>0">
      <p-header translate>Custom Field</p-header>
      <app-runtime-entity-field-value *ngFor="let customField of customFields"
                                      [showEntity]="false"
                                      [info]="getCustomFieldInfo(customField)"></app-runtime-entity-field-value>
    </p-fieldset>
    <app-runtime-device *ngIf="_entity.dataName=='Device'" [device]="_entity"></app-runtime-device>
  </div>
</div>
