/* You can add global styles to this file, and also import other style files */
.menu-item {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.item-selected {
  background-color: #eeeeee;
}
