/* You can add global styles to this file, and also import other style files */
.menu-item {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.item-selected {
  background-color: #eeeeee;
}

.title {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.label {
  color: #888888;
  font-weight: bold;
  font-size: 12px;
  padding-right: 15px;
}

.value {
  font-style: italic;
  font-size: 10px;
}

.field-input {
  display: inline-block;
  margin-right: 20px;
  font-size: 10px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  padding-left: 6px;
  border-radius: 15px;
  background-color: blue;
  color: white;
  border: solid 1px gray;
}

.field-output {
  display: inline-block;
  margin-right: 20px;
  font-size: 10px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  padding-left: 4px;
  border-radius: 15px;
  background-color: yellow;
  color: black;
  border: solid 1px gray;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  float: left;
  margin-right: 15px;
}

.runtime-tree {
  border: none !important;
}
